#mytable{
    margin-left: 25%; 
 }

 
 
 h1{
     margin-top: 60px;
 }

 #edit{
    margin-top:80px;
    margin-left:100%;
    width: 500px;
    position: absolute;
    overflow: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 80px;
    
    
}
.modal-header .close{
    margin:0;
}

    
