<app-navbar></app-navbar>
<div>
  <div class="container" align="center">
    <br>
    <br>
    <br>
    <br>
    <img src="../assets/image/Emblem_of_Sri_Lanka.svg.png" alt="..." height="110px" width="80px">
  </div>
  <div class="row">
    <div class="col-xs-12">
    </div>
  </div>
  <div class=" text-center">
    <h1><span id="e1">e-</span>Vote<span id="e">SL</span></h1>
    <p class="lead">Welcome to the Online Electoral system of </p>
    <h1>Democratic Socialist Republic of Sri Lanka </h1>
    <div>
      <a class="btn btn-info btn-lg" [routerLink]="['/login']">Admin Login</a>
      <a class="btn btn-info btn-lg" [routerLink]="['/poll_login']">Login to Polling booth</a>

    </div>
  </div>
</div>

