<h1 align="center">List of Voters</h1>

<table id="mytable" class="table table-bordred table-striped center">
  <thead class="fixed">
    <th>Name</th>
    <th>NIC</th>
    <th>District</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <tr *ngFor="let voter of voters">
      <td>{{voter.name}}</td>
      <td>{{voter.nic}}</td>
      <td>{{voter.district}}</td>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Edit">
          <button class="btn btn-primary btn-xs" (click) ="editVoter(voter)" data-title="Edit" data-toggle="modal" data-target="#myModal">
            <span class="fa fa-pencil"></span>
          </button>
        </p>
      </td>
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog ">       
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Voter</h4>
            </div>
            <div class="modal-body">
            <form class="form-horizontal">
              <fieldset>              
              <div class="form-group">
                <label class="col-md-4 control-label" for="name">Name</label>              
                <input id="name" name="name" type="text" [(ngModel)]="name" name="name" class="form-control ">                                  
              </div>             
              <div class="form-group">
                <label class="col-md-4 control-label" for="nic">NIC</label>                
                  <input id="nic" name="nic" type="text" [(ngModel)]="nic" name="nic" class="form-control input-md">               
              </div>                          
              <div class="form-group">
                <label class="col-md-4 control-label" for="district">District</label>               
                <select class="form-control" name="district" [(ngModel)]="district">
                  <option value="Ampara">Ampara</option>
                  <option value="Anuradhapura">Anuradhapura</option>
                  <option value="Badulla">Badulla</option>
                  <option value="Batticaloa">Batticaloa</option>
                  <option value="Colombo">Colombo</option>
                  <option value="Galle">Galle</option>
                  <option value="Gampaha">Gampaha</option>
                  <option value="Hambantota">Hambantota</option>
                  <option value="Jaffna">Jaffna</option>
                  <option value="Kalutara">Kalutara</option>
                  <option value="Kandy">Kandy</option>
                  <option value="Kegalle">Kegalle</option>
                  <option value="Kilinochchi">Kilinochchi</option>
                  <option value="Kurunegala">Kurunegala</option>
                  <option value="Mannar">Mannar</option>
                  <option value="Matale">Matale</option>         
                  <option value="Mathara">Mathara</option>
                  <option value="Monaragala">Monaragala</option>
                  <option value="Mullaitivu">Mullaitivu</option>
                  <option value="Nuwara Eliya">Nuwara Eliya</option>
                  <option value="Polonnaruwa">Polonnaruwa</option>
                  <option value="Puttalam">Puttalam</option>
                  <option value="Rathnapura">Rathnapura</option>
                  <option value="Trincomalee">Trincomalee</option>
                  <option value="Vavuniya">Vavuniya</option>
                </select>                                 
              </div>                            
              </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" (click)="onUpdate()" data-dismiss="modal" class="btn btn-primary">Update</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>          
        </div>
      </div>
      <td>
        <p data-placement="top" data-toggle="tooltip" title="Delete">
          <button class="btn btn-danger btn-xs" (click) ="deleteVoter(voter._id)" data-title="Delete" data-toggle="modal" data-target="#delete">
            <span class="fa fa-trash-o"></span>
          </button>
        </p>
      </td>
    </tr>
  </tbody>
</table>