
<div class="container" *ngIf="access && acc">
  <div class="login-content mx-auto d-block">
    <h2 class="page-header" align="center">Authenticate Voters</h2>
    <form (submit)="onCheck()" class="col-md-12 mx-auto d-block">
      <div class="form-group">
        <label>Enter NIC</label>
        <input type="text" class="form-control" [(ngModel)]="nic" name="nic">
      </div>
      <input type="submit" class="btn btn-primary" value="Check!">
      <!-- <input type="submit" class="btn btn-primary" value="Direct Ballot"> -->
    </form>
    
  </div>
  
</div>

<div  class="wrapper" *ngIf="access">  
      <div id="btn" class="button container" *ngIf="initiate"><input type="submit" (click) ="deactivateBooth()"class="btn btn-info btn-lg" value={{poll_station}}></div> 
</div>





