

<div id="reg" class="body-content">
  <div class="module">
    <h1>Register Voter</h1>
    <form class="form" (submit)="onRegisterSubmit()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="name" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label>NIC</label>
        <input type="text" [(ngModel)]="nic" name="nic" class="form-control">
      </div>
      <div class="form-group">
        <label>District</label>
        <select class="form-control" name="district" [(ngModel)]="district">
          <option value="Ampara">Ampara</option>
          <option value="Anuradhapura">Anuradhapura</option>
          <option value="Badulla">Badulla</option>
          <option value="Batticaloa">Batticaloa</option>
          <option value="Colombo">Colombo</option>
          <option value="Galle">Galle</option>
          <option value="Gampaha">Gampaha</option>
          <option value="Hambantota">Hambantota</option>
          <option value="Jaffna">Jaffna</option>
          <option value="Kalutara">Kalutara</option>
          <option value="Kandy">Kandy</option>
          <option value="Kegalle">Kegalle</option>
          <option value="Kilinochchi">Kilinochchi</option>
          <option value="Kurunegala">Kurunegala</option>
          <option value="Mannar">Mannar</option>
          <option value="Matale">Matale</option>         
          <option value="Mathara">Mathara</option>
          <option value="Monaragala">Monaragala</option>
          <option value="Mullaitivu">Mullaitivu</option>
          <option value="Nuwara Eliya">Nuwara Eliya</option>
          <option value="Polonnaruwa">Polonnaruwa</option>
          <option value="Puttalam">Puttalam</option>
          <option value="Rathnapura">Rathnapura</option>
          <option value="Trincomalee">Trincomalee</option>
          <option value="Vavuniya">Vavuniya</option>
        </select>
      </div>

      <input type="submit" class="btn btn-primary" value="Submit">
    </form>
  </div>
</div>



